@import "../global.scss";
.aboutMePageGrid{
	margin: 0 auto;
	display: grid;
	width: 70%;
	height: 90vh;
	padding: 20px;
	grid-template-rows: auto 1fr;
	grid-template-areas: "title"
						 "contentArea";
	box-shadow: 5px 15px 25px 2px hsla(0,100%,0%,.15);
	&__title{
		grid-area: title;
		@include minorFont;
		display: inline;
		font-size: 60px;
		padding: auto 0px;
		border: 1px red solid;
	}
	&__contentArea{
		grid-area: contentArea;
		display: grid;
		grid-template-columns: 70% 30%;
		grid-template-areas: "text pic";
		@include minorFont;
		&--text{
			grid-area: text;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: space-between;
			//border: 10px red solid;
			padding: 10px;
				& div{
					padding: 0px  10px;
					font-size: 1.45rem;
					& > h2{
						color: $highlightMenuLetters;
					}
					&>p{
						padding-bottom: 2rem;
					}
				}
				&___personal{
					border-bottom: 15px hsla(0,50%,0%,.25) solid;
				}
				&___professional{
//					border-bottom: 15px hsla(0,50%,0%,.25) solid;
				}
				&___tech-area{
					flex-grow:1;
					display:flex;
					align-items: center;
					width: 100%;
					height: 50px;
//					border: 4px yellow solid;
				}
		}
		&--pic{
			border: 1px red solid;
		}
	}
}