.homePageGrid{
	grid-area: main-content;

	display: grid;
	margin: 0px auto;
	width: clamp(800px,75%,1200px);
	grid-template-rows: 1fr auto 1fr;
	grid-template-areas: "space"
						 "menu"
						 "space";
	/* border: 5px solid red;*/
}
#homePageMenu{
	transform: scale(1.2);
	position: relative;
	right: -555px;
}