@import "../global.scss";
.homePageGrid{
	grid-area: main-content;

	display: grid;
	margin: 0px auto;
	width: 100%;
	grid-template-rows: 10% auto 10%;
	grid-template-areas: "space"
						 "menu"
						 "space";
	/* border: 5px solid red;*/
}
.space{
	/*background: red;*/
}
.middle{
	display: flex;
	margin: 0 auto;
	width: 1200px;
	align-items: flex-start;
	justify-content:center;
	/*background:blue;*/
	/*outline: 2px red solid;*/
}
#homePageMenu{
	position: absolute;
	right: clamp(15%, 18%, 500px);
	transform-origin: 100% 0%;
	transform: scale(1.35)
	/*outline: 2px red solid;*/
	

}
.menuButton{
	fill: $menuLetters;
}
.menuButtonHover{
	fill: $highlightMenuLetters;
}
[id^="projects-"]{
	/*outline: 1px yellow solid;*/
	opacity:1;
	
	
}
#box{
	
}
#aboutme-link{
	transform-origin: 50% 50%;
}