@import "../global.scss";
.projectsPageGrid{
	margin: 0 auto;
	display: grid;
	width: 70%;
	height: 100vh;
	padding: 20px;
	grid-template-rows: 150px 1fr;
	grid-template-areas: "title"
						 "pieces";
	box-shadow: 5px 15px 25px 2px hsla(0,100%,0%,.15);

	&__title{
		@include mainFont;
		font-size: 150px;
		padding: auto 0px;
		/*border-bottom: $highlightMenuLetters;*/
		border-bottom: white;
		&--buttons{
			grid-area: title;
			display: inline;
			float: right;
			top: 50%;
			right: 19%;
			@include mainFont;
			font-size: 75px;
			margin: 15px;
		}
	}
}
.projectsArea{
	grid-area: pieces;
	padding-bottom: 150px;
	overflow-y: auto;
	scroll-behavior: smooth;
}
.projectsComponent{
	
	margin: 0 auto;
	width: 85%;
	height: 650px;
	display: flex;
	justify-content: space-between;
	border-bottom: 15px hsla(0,50%,0%,.25) solid;
	overflow: hidden;
	&__descriptionSection{
		order:1;
		padding: 30px 15px;
		@include minorFont;
		font-size: 1.5rem;
		width: clamp(25%,800px,75%);
		& > h2{
			letter-spacing: .5px;
			color: $highlightMenuLetters;
		}
		& >*{
			margin-left: 25px;
		}
		&--goal{
			margin-bottom: 20px;
		}
		&--description{
			margin-bottom: 20px;	
		}
	}
	&__workSection{
		flex-grow: 1;
		order:2;
		padding: 15px;
		font-size:6rem;
		@include mainFont;
		
		&--screenshot{
			margin: 10px auto;
			width: 100%;
			box-shadow: 0px 5px 10px 5px hsla(0,100%,0%,.5);
		}
		&--links{
			display: flex;
			width: 100%;
			height: 50px;
			justify-content: center;
			align-items: space-around;
			margin-bottom: 15px;
			&_url{
				text-decoration: none;
				@include minorFont;
				color: $menuLetters;
				font-size: 2rem;
				margin: 25px;
			}
		}
	}
}