@import "../global.scss";
.theDojoPageGrid{
	margin: 0 auto;
	display: grid;
	width: 70%;
	height: 100vh;
	padding: 20px;
	grid-template-rows: 150px 1fr;
	grid-template-areas: "title"
						 "thedojo";
	box-shadow: 5px 15px 25px 2px hsla(0,100%,0%,.15);

	&__title{
		@include mainFont;
		font-size: 150px;
		padding: auto 0px;
		&--buttons{
			grid-area: title;
			display: inline;
			float: right;
			top: 50%;
			right: 19%;
			@include mainFont;
			font-size: 75px;
			margin: 15px;
		}
	}
}
.theDojoArea{
	grid-area: thedojo;
	padding-bottom: 150px;
	overflow-y: auto;
	scroll-behavior: smooth;
}
.theDojoComponent{

}