@import "../global.scss";
.footerBar{
	grid-area: footer-nav;
	position: sticky;
	bottom:0;
	width: clamp(800px,100%,100%);
	display: flex;
	padding: .75rem;
	justify-content: center;
	align-items:center;
	color: $bgDark;
	background: $bgLight;
	&>div{
		@include minorFont;
	}
}
@media (max-width:992px){
	.footerBar{
		width: 992px;		
	}
}
@media (max-width:768px){
	.footerBar{
		width: 768px;		
	}
}
@media (max-width:575px){
	.footerBar{
		width: 575px;		
	}
}