@import "../global.scss";
.footerBar{
	grid-area: footer-nav;
	display: block;
	position: sticky;
	bottom:0;
	width: clamp(800px,100%,100%);
	display: flex;
	padding: .75rem;
	justify-content: center;
	align-items:center;
	// border-bottom: 1px solid yellow;
	color: $bgDark;
	background: $bgLight;
	&>div{
		@include minorFont;
	}
}
