@import "../global.scss";
.headerBar{
	grid-area: header-nav;
	width: 100%;
	display: flex;
	padding: .35rem;
	/*padding-right: 6rem;*/
	justify-content: space-evenly;
	align-items:center;
	/*border-bottom: 1px solid yellow;*/
	background: $bgLight;

	&-title{
		margin: 0px 5px;
		@include minorFont;
		letter-spacing: .75px;
		font-size: 2.5rem;
		& > a{
			text-decoration: none;
		}
	}
	&-buttonGroup{
		&-buttons{
			text-decoration: none;
			@include mainFont;
			font-size: 45px;
			padding: 5px .75rem;
			color: $menuLetters;
			&--activeLink{
				color: white;
			}
			&:hover{
				color: $highlightMenuLetters;
			}
			@at-root{
				#aboutme{
					@include minorFont;
				}
			}
		}	
	}
	
}

#portfolio{
	color: $highlightMenuLetters;
}

@media (max-width:992px){
	.headerBar{
		width: 992px;
		justify-content: space-between;
		&-title{
			margin: 0px 20px;
			font-size: 2rem;
		}
		&-buttonGroup{
			&-buttons{
				font-size: 2rem;
				margin: 10px;
			}	
		}
	}
};
@media (max-width:768px){
	.headerBar{
		width: 768px;
		justify-content: space-between;
		&-title{
			margin: 0px 10px;
			font-size: 2rem;
		}
		&-buttonGroup{
			&-buttons{
				font-size: 2rem;
				margin: 10px 2px;
			}	
		}
	}
}

@media (max-width:575px){
	.headerBar{
		width: 575px;
		justify-content: space-between;
		&-title{
			margin: 0px 10px;
			font-size: 2rem;
		}
		&-buttonGroup{
			display:none;
			&-buttons{
				font-size: 2rem;
				margin: 10px 2px;
			}	
		}
	}
}