@import "../global.scss";
.headerBar{
	grid-area: header-nav;
	width: 100%;
	display: flex;
	padding: .5rem;
	justify-content: space-between;
	align-items:center;
	/*border-bottom: 1px solid yellow;*/
	background: $bgLight;
	&-title{
		margin: 0px 5px;
		font-size: 25px;
	}
	&-buttonGroup{
		&-buttons{
			text-decoration: none;
			padding:.5rem;
			margin: 0px 5px;
			/* border: 2px solid white;*/
			color: orange;
			&--activeLink{
				color: white;
			}
		}	
	}
	
}

#portfolio{
	color: lighten(orange,35%);
}