.homePageGrid{
	display: grid;
	width: 100%;
	height: 95vh;
	grid-template-rows: 1fr 490px 1fr;
	grid-template-areas: "space"
						 "menu"
						 "space";
	&-space{
		grid-area: space;
		display: block;
		width: 100%;
		border: 1px dashed yellow;
	}	
	&-menu{
		grid-area: menu;
		display: block;
	}
	overflow: hidden;
}

