:root{
	--bgLight: hsl(240, 25%, 54%);/*teal*/
	--bg: hsl(240, 25%, 34%);/*teal*/	
	--bgDark: hsl(240, 10%, 14%);/*teal*/
}

$bg : var(--bg);
$bgLight : var(--bgLight);
$bgDark : var(--bgDark);

*{
	margin: 0;
	box-sizing: border-box;
	/*border: 1px dashed yellow;*/

}
body{
	color: orange;
	background: $bg;
	overflow: hidden;
	height:100vh;
}