:root{
	--bgLight: hsl(180, 100%, 30%);/*teal*/
	--bg: hsl(180, 100%, 25%);/*teal*/
	--bgDark: hsl(180, 100%, 15%);/*teal*/
}

$bg : var(--bg);
$bgLight : var(--bgLight);
$bgDark : var(--bgDark);

*{
	margin: 0;
	box-sizing: border-box;
	border: 1px dashed yellow;

}
body{
	color: orange;
	background: $bg;
	overflow: hidden;
}