@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@mixin mainFont{
	font-family: 'Bangers', cursive;
}
@mixin minorFont{
	/*font-family: 'Odibee Sans', cursive;*/
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Oswald', sans-serif;
}

:root{
	--bgLight: #7684AA;
	--bg: #4E5E7E;/*hsla(219, 23, 40,.5)*/
	--bgDark: #283A52;
	--menuLetters: #C4CFE8;/*hsla(62,44%,84%,.5)*/
	--highlightMenuLetters: #F2F2F1;
}

$bg : var(--bg);
$bgLight : var(--bgLight);
$bgDark : var(--bgDark);
$menuLetters:  var(--menuLetters);
$highlightMenuLetters: var(--highlightMenuLetters);
$navbarHeight : 50px;
*{
	margin: 0;
	box-sizing: border-box;
	/*border: 1px dashed yellow;*/

}
html {
  background-color: #fff; /* even the same color will do the job */
}
body{
	color: $menuLetters;
	background: linear-gradient(to bottom,$bg,$bgDark);
	/*overflow: hidden;*/
	height:100vh;
}